<div class="row justify-content-center">
    <div class="col-md-6">

        <h3>Inicio de sesión</h3>

        <form action="/login" method="POST">
            <div class="form-group">
                <label for="field1">Username</label>
                <input name="username" type="text" class="form-control" id="field3">
            </div>
            <div class="form-group">
                <label for="field2">Contraseña</label>
                <input name="password" type="password" class="form-control" id="field2">
            </div>

            <button type="submit" class="myButton">Iniciar sesión</button>

            {{#if errorMsg}}
            <div id="errorMsg">{{{errorMsg}}}</div>
            {{/if}}

        </form>
        {{!-- 
        <p>¿No tienes cuenta? <a href="/signup">¡Regístrate!</a></p> --}}
    </div>
</div>