<div class="row justify-content-center">
    <div class="col-md-6">
        <h4>Registro</h4>

        <form id="signup-form" action="/signup" method="POST">
            <div class="form-group">
                <input name="username" type="text" class="form-control" id="field1" required="true"
                    placeholder="Nombre de usuario">
            </div>
            <div class="form-group">
                <input name="email" type="text" class="form-control" id="field3" required="true" placeholder="Email">
            </div>
            <div class="form-group">
                <input name="password" type="password" class="form-control" id="field2" required="true"
                    placeholder="Contraseña">
            </div>
            <div class="form-group">
                <label for="field5">¿En qué puedes echar una mano?</label>
                <select name="knowledge" class="custom-select" required="true" multiple>
                    <option class="knowledge-button" value="shopping">Compra y recados</option>
                    <option class="knowledge-button" value="displacement">Desplazamiento</option>
                    <option class="knowledge-button" value="company">Compañía</option>
                    <option class="knowledge-button" value="caring">Cuidados</option>
                    <option class="knowledge-button" value="technology">Tecnología</option>
                    <option class="knowledge-button" value="housework">Tareas del Hogar</option>
                    <option class="knowledge-button" value="DIY">Bricolage</option>
                </select>
            </div>

            <button type="submit" class="myButton-dos">Registrarme</button>
            {{#if errorMsg}}
            <div id="errorMsg">{{{errorMsg}}}</div>
            {{/if}}
        </form>
        <div id="goback-button">
            <button onclick="history.back(-1)" class="myButton-dos">Volver</button>

            <script>
                function goBack() {
                    window.history.back();
                }
            </script>
        </div>
    </div>
</div>