<div class="row justify-content-center">
    <div class="col-md-6">

        <h1>Registro</h1>

        <form action="/signup" method="POST">
            <div class="form-group">
                <label for="field1">Nombre de usuario</label>
                <input name="username" type="text" class="form-control" id="field1">
            </div>
            <div class="form-group">
                <label for="field3">Email</label>
                <input name="email" type="text" class="form-control" id="field3">
            </div>
            <div class="form-group">
                <label for="field2">Contraseña</label>
                <input name="password" type="password" class="form-control" id="field2">
            </div>
            <div class="form-group">
                <label for="field5">¿En qué puedes echar una mano?</label>
                <select name="knowledge" class="custom-select" multiple>
                    <option class="knowledge-button" value="shopping">Compra y recados</option>
                    <option class="knowledge-button" value="displacement">Desplazamiento</option>
                    <option class="knowledge-button" value="company">Compañía</option>
                    <option class="knowledge-button" value="caring">Cuidados</option>
                    <option class="knowledge-button" value="technology">Tecnología</option>
                    <option class="knowledge-button" value="housework">Tareas del Hogar</option>
                    <option class="knowledge-button" value="DIY">Bricolage</option>
                </select>
            </div>

            <button type="submit" class="btn btn-dark btn-block btn-lg">Registrarme</button>

            {{#if errorMsg}}
            <div id="errorMsg">{{{errorMsg}}}</div>
            {{/if}}
        </form>

        <p>¿Tienes cuenta? <a href="/login">¡Inicia sesión!</a></p>
    </div>
</div>