<div class="row justify-content-center">
    <div class="col-md-6">

        <h1>Registro</h1>

        <form action="/signup" method="POST">
            <div class="form-group">
                <label for="field1">Nombre de usuario</label>
                <input name="username" type="text" class="form-control" id="field1">
            </div>
            <div class="form-group">
                <label for="field3">Email</label>
                <input name="email" type="text" class="form-control" id="field3">
            </div>
            <div class="form-group">
                <label for="field2">Contraseña</label>
                <input name="password" type="password" class="form-control" id="field2">
                <small class="form-text text-muted">Nunca compartas tu contraseña</small>
            </div>
            <div class="form-group">
                <label for="field4">Status</label>
                <input type="checkbox" name="active" value="1">Active
                <input type="checkbox" name="pending" value="2" checked>Pending
            </div>
            <div class="form-group">
                <label for="field4">¿En qué puedes echar una mano?</label>
                <input type="checkbox" name="shopping" value="1">Shopping
                <input type="checkbox" name="displacement" value="2">Displacement
                <input type="checkbox" name="company" value="3">Company
                <input type="checkbox" name="caring" value="4">Caring
                <input type="checkbox" name="technology" value="5">Technology
                <input type="checkbox" name="housework" value="6">Housework
                <input type="checkbox" name="DIY" value="7">DIY
            </div>

            <button type="submit" class="btn btn-dark btn-block btn-lg">Registrarme</button>

            {{#if errorMsg}}
            <div id="errorMsg">{{{errorMsg}}}</div>
            {{/if}}
        </form>

        <p>¿Tienes cuenta? <a href="/login">¡Inicia sesión!</a></p>
    </div>
</div>