<div class="row justify-content-center">
    <div class="detalles-collab">
        <h3>Detalles de colaboración</h3>
        <div class="peticion">
            <p>Colaboración: {{collaborationType}}</p>
            <p>Teléfono: {{telephoneNumber}}</p>
            <p>Status: {{status}}</p>
        </div>
        <section>
            <style>
                #collabMap {
                    width: 100%;
                    height: 200px;
                }
            </style>
            <figure collaborationId="{{_id}}" id="collabMap"></figure>
        </section>
    </div>
</div>

<script src="/javascripts/collaboration/collaboration.map.js"></script>