<div class="detalles-collab">
    <h3>Detalles de la petición</h3>
    <div class="peticion">
        <p>Tipo de petición: </p>
        <p>Audio: </p>
        <p>Número de teléfono:</p>
        <p>Locación:</p>
        <p>Status:</p>
    </div>
</div>