<div class="row justify-content-center">
    <div class="detalles-collab">
        <h3>Detalles de colaboración</h3>
        <div class="peticion">
            <p>Tipo de petición: </p>
            <p>Audio: </p>
            <p>Número de teléfono:</p>
            <p>Locación:</p>
            <p>Status:</p>
        </div>
    </div>
</div>