<div class="button-collab">

    <a href="/collaboration-request" class="myButton">COLABORACIÓN</a>
    <a href="/signup" class="myButton">COLABORAR</a>
    <a href="/profile" class="myButton">PERFIL</a>

</div>