<div class="button-collab">
    <h1>Hola, {{user.username}}</h1>
    <a href="/collaboration-request" class="myButton">COLABORACIÓN</a>
    <a href="/{{user.username}}/help" class="myButton">COLABORAR</a>
    <a href="/{{user.username}}/profile" class="myButton">PERFIL</a>
    <a href="/logout" class="myButton-dos">Cerrar sesión</a>

    <div id="goback-button">
        <button onclick="history.back(-1)" class="myButton-tres">Volver</button>
        <script>
            function goBack() {
                window.history.back();
            }
        </script>
    </div>
</div>