<div class="button-collab">
    <h1>Hola {{user.username}}</h1>
    <a href="/collaboration-request" class="myButton">COLABORACIÓN</a>
    <a href="/{{user.username}}/help" class="myButton">COLABORAR</a>
    <a href="/{{user.username}}/profile" class="myButton">PERFIL</a>

</div>