<div class="row">
    <div class="col">
        <h1>Hola {{user.username}}</h1>
        <h2>Tus peticiones</h2>
        <ul>
            {{#each user.collaborations}}
            <li>{{collaborationType}}</li>
            <li>{{status}}</li>
            <a href="/collaboration-request/{{_id}}/close">Cerrar petición</a>
            {{/each}}
        </ul>
    </div>
</div>