<div class="row justify-content-center">
    <div class="col">
        <h1>Hola {{user.username}}</h1>
        <h2>Tus peticiones</h2>
        <ul>
            {{#each user.collaborations}}
            <li>{{collaborationType}}</li>
            <li>{{status}}</li>
            <a href="/collaboration-request/{{_id}}/close">Cerrar petición</a>
            {{/each}}
        </ul>
    </div>
    <div id="goback-button">
        <button onclick="history.back(-1)" class="myButton-dos">Volver</button>
        <script>
            function goBack() {
                window.history.back();
            }
        </script>
    </div>
</div>