<div class="row justify-content-center">
    <div class="col-md-6 intento">
        <h4>Hola, {{user.username}}</h4>
        <h4>Aqui saldrán las peticiones hechas y por hacer del usuario</h4>
    </div>
</div>