<div class="row justify-content-center">
    <div class="col">

        <h4>Historial de peticiones finalizadas</h4>

        <div class="container">
            <div class="glide">
                <div class="glide__track" data-glide-el="track">
                    <ul class="glide__slides">
                        {{#each completedCollabs}}
                        <li class="glide__slide">
                            <div class="peticion">
                                <p class="help-petition">Petición: <br><span
                                        class="help-collab">{{collaborationType}}</span>
                                </p>
                                <p class="help-petition">Status: <br><span class="help-collab">{{status}}</span>
                                </p>

                            </div>
                        </li>
                        {{/each}}
                    </ul>
                </div>
                <div class="glide__arrows" data-glide-el="controls">
                    <button class="glide__arrow glide__arrow--left" data-glide-dir="<"><img class="arrow-size"
                            src="/images/arrows/025-left-arrow-2.png" alt=""></button>
                    <button class="glide__arrow glide__arrow--right" data-glide-dir=">"><img class="arrow-size"
                            src="/images/arrows/017-right-arrow-2.png" alt=""></button>
                </div>
            </div>
        </div>

        <div id="goback-button">
            <button onclick="history.back(-1)" class="myButton-tres">Volver</button>
            <script>
                function goBack() {
                    window.history.back();
                }
            </script>
        </div>

        {{!-- CONFIGURACIÓN DE GLIDE --}}

        <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
        <script>
            const config = {
                type: "carousel",
                perView: 3,
                breakpoints: {
                    600: {
                        perView: 4
                    }
                }
            }
            new Glide(".glide", config).mount();
        </script>

    </div>
</div>