<div class="row justify-content-center">
    <div class="col-md-6">

        <h4>Solicita colaboración</h4>

        <form id="collaboration-form" action="/collaboration-request" method="POST">

            <div class="form-group">
                <label for="field1">Necesito ayuda con:</label>
                <select name="collaborationType" id="field1" size="9" class="custom-select" required="true">
                    <option class="knowledge-button" value="shopping">Compras y recados</option>
                    <option class="knowledge-button" value="displacement">Desplazamientos</option>
                    <option class="knowledge-button" value="company">Acompañamiento</option>
                    <option class="knowledge-button" value="caring">Cuidados</option>
                    <option class="knowledge-button" value="technology">Tecnología</option>
                    <option class="knowledge-button" value="housework">Tareas del hogar</option>
                    <option class="knowledge-button" value="DIY">Bricolaje</option>
                    <option class="knowledge-button" value="other">Otros</option>
                </select>
            </div>

            <div class="form-group audioDescription">
                <label for="field2">Graba un audio:</label>
                <input type="text" id="field2" name="audioDescription">
            </div>

            <div class="form-group geolocation">
                <label for="field3">Confirma tu posición:</label>
                <input name="position" type="text" class="form-control" id="field3">
                <input name="lat" type="text" class="form-control" id="lat">
                <input name="lng" type="text" class="form-control" id="lng">
            </div>

            <div class="form-group">
                <label for="field4">Confirma tu número de teléfono:</label>
                <input name="telephoneNumber" type="tel" class="form-control" id="field4">
            </div>

            <button type="submit" class="myButton-dos">Confirmar</button>

            {{#if errorMsg}}
            <div id="errorMsg">{{{errorMsg}}}</div>
            {{/if}}
        </form>
        <p>
            <button id="record">record</button>
            <button id="stopRecord" disabled>Stop</button>
        </p>
        <p>
            <audio id="recordedAudio"></audio>
        </p>

        <div id="goback-button">
            <button onclick="history.back(-1)" class="myButton-dos">Volver</button>

            <script>
                function goBack() {
                    window.history.back();
                }
            </script>
        </div>

    </div>
</div>

<script src=" https://unpkg.com/mic-recorder-to-mp3@2.2.0"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/javascripts/collaboration-form.js"> </script>
<script src="https://maps.googleapis.com/maps/api/js?key={{mapsApiKey}}&libraries=places&callback=getLocation"></script>