<div class="row justify-content-center">
    <div class="col-md-6">

        <h1>Solicita colaboración</h1>

        <form id="collaboration-form" action="/collaboration-request" method="POST">

            <div class="form-group">
                <label for="field1">Necesito ayuda con:</label>
                <select name="collaborationType" id="field1" size="9" class="custom-select" required="true">
                    <option class="knowledge-button" value="shopping">Compras y recados</option>
                    <option class="knowledge-button" value="displacement">Desplazamientos</option>
                    <option class="knowledge-button" value="company">Acompañamiento</option>
                    <option class="knowledge-button" value="caring">Cuidados</option>
                    <option class="knowledge-button" value="technology">Tecnología</option>
                    <option class="knowledge-button" value="housework">Tareas del hogar</option>
                    <option class="knowledge-button" value="DIY">Bricolaje</option>
                    <option class="knowledge-button" value="other">Otros</option>
                </select>
            </div>

            <div class="form-group geolocation">
                <label for="field2">Confirma tu posición:</label>
                <input name="position" type="text" class="form-control" id="field2">
            </div>

            <button type="submit" class="btn btn-dark btn-block btn-lg">Confirmar</button>

            {{#if errorMsg}}
            <div id="errorMsg">{{{errorMsg}}}</div>
            {{/if}}
        </form>
    </div>
</div>

<script src="/javascripts/collaboration-form.js"> </script>
<script src="https://maps.googleapis.com/maps/api/js?key={{mapsApiKey}}&callback=getLocation"></script>