<div class="foto">
    <div class="button-collab">
        <h4>¿Qué buscas?</h4>
        <a href="/collaboration-request" class="myButton">COLABORACIÓN</a>
        <a href="/signup" class="myButton">COLABORAR</a>
    </div>
    <div class="helps">
        <img src="images/helper.png" alt="">
    </div>
</div>