<div class="button-collab">
    <a href="/login" class="myButton">Iniciar sesión</a>
    <a href="/signup" class="myButton">Registrarme</a>
</div>
<div class="helps">
    <img src="/images/helper.png" alt="">
</div>
<div class="text-collaborate">
    <img class="quote-down" src="/images/pabajo.png" alt="">
    <p class="colaborar-span"><span>Colaborar</span> nunca <br>
        ha sido tan fácil</p>
    <img class="quote-up" src="/images/parriba.png" alt="">
</div>