<h3>Buscas:</h3>
<div class="button-collab">
    <a href="/collaboration-request">COLABORACIÓN</a>
</div>
<div class="button-collab">
    <a href="/signup">COLABORAR</a>
</div>
<div class="text-index">
    <p>"Ya-Va" is project created by two web development students.</p>
    <p>It's a platform that provides a simple and easier way of collaboration to both people who want to collaborate
        and people
        who look for collaboration.</p>
    <p>Collaborating has never been so easy!</p>
</div>