<div class="fondo">
    <div class="button-collab">

        <a href="/collaboration-request" class="myButton">COLABORACIÓN</a>
        <a href="/signup" class="myButton">COLABORAR</a>
    </div>
    <div class="helps">
        <img src="images/helper.png" alt="">
    </div>
</div>