<div class="fondo">
    <div class="button-collab">

        <a href="/login" class="myButton">Iniciar sesión</a>
        <a href="/signup" class="myButton">Registrarme</a>
    </div>
    <div class="helps">
        <img src="/images/helper.png" alt="">
    </div>
</div>