<div class="button-collab">
    <h2>¿Qué buscas?</h2>
    <a href="/collaboration-request" class="myButton">COLABORACIÓN</a>
    <a href="/signup" class="myButton">COLABORAR</a>
</div>
<div class="text-index">
    <p><span class="span">Collaborate</span><br> never been so easy!</p>
</div>