<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <main class="container">
    <a id="logotype" href="/"><img id="logo-yava" src="/images/logomorado.png" alt=""></a>
    {{{body}}}
  </main>

  <script src="/javascripts/script.js"></script>
</body>

</html>