body {
  text-align: center;
  font-weight: 100;
  background: #fffefa; }

h1, h2, h3, h4 {
  font-weight: 200;
  color: #404040;
  margin-bottom: 5%; }

#errorMsg {
  background-color: red;
  color: white;
  font-weight: 400;
  text-align: center;
  padding: 10px 0;
  margin-top: 5px; }

/* --- SIGN UP & COLLABORATION --- */
.knowledge-button {
  padding: 3%;
  margin-bottom: 1%;
  background: #a7a6ff;
  color: #fff;
  border-radius: 20px; }

#collaboration-form {
  text-align: center; }
  #collaboration-form select {
    text-align: center;
    border: none;
    background: none; }
  #collaboration-form #lat {
    display: none; }
  #collaboration-form #lng {
    display: none; }

#signup-form .custom-select {
  text-align: center;
  border: none; }

/* --- INDEX --- */
.text-index {
  transform: translateY(120px);
  font-size: 19px; }

.span-2 {
  font-size: 20px; }

.fondo {
  background-image: url("../images/YA-VA-2.png");
  background-position: bottom;
  height: 706px;
  background-size: 100%;
  background-repeat: no-repeat; }

#logo-yava {
  display: block;
  width: 250px;
  margin: auto;
  transform: translate(0, 60px); }

.helps img {
  width: 300px;
  transform: translateY(110px); }

.peticion {
  background: #fff;
  padding: 2%; }

.span {
  font-weight: 500;
  font-size: 30px; }

.button-collab {
  text-align: center;
  transform: translateY(125px);
  border-radius: 8px;
  padding: 3%; }
  .button-collab p {
    text-align: center; }

.index-h2 {
  text-align: center; }

a:hover {
  text-decoration: none;
  color: #fff; }

.row {
  margin-top: 95px; }

#signup-form .custom-select {
  text-align: center;
  border: none;
  background: none; }

/* --- GLIDE PROFILE --- */
.myButton {
  width: 80%;
  background-color: #7575c9;
  border-radius: 25px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 18px;
  font-weight: 700;
  padding: 9px 58px;
  text-decoration: none;
  margin: 2%; }

.myButton:hover {
  background: linear-gradient(to bottom, #7575c9 5%, #7575c9 100%);
  background-color: #7575c9; }

.myButton:active {
  position: relative;
  top: 1px; }

.myButton-dos {
  width: 70%;
  background-color: #7575c9;
  border-radius: 25px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 14px;
  font-weight: 700;
  padding: 9px 58px;
  text-decoration: none;
  margin: 2%; }

.glide {
  margin-top: 5%; }

.glide {
  position: relative;
  width: 100%;
  box-sizing: border-box; }
  .glide * {
    box-sizing: inherit; }
  .glide__track {
    overflow: hidden; }
  .glide__slides {
    position: relative;
    width: 100%;
    list-style: none;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    touch-action: pan-Y;
    overflow: hidden;
    padding: 0;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
    will-change: transform; }
    .glide__slides--dragging {
      user-select: none; }
  .glide__slide {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    white-space: normal;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent; }
    .glide__slide a {
      user-select: none;
      -webkit-user-drag: none;
      -moz-user-select: none;
      -ms-user-select: none; }
  .glide__arrows {
    -webkit-touch-callout: none;
    user-select: none; }
  .glide__bullets {
    -webkit-touch-callout: none;
    user-select: none; }
  .glide--rtl {
    direction: rtl; }

.glide__arrow {
  position: absolute;
  display: block;
  top: 50%;
  z-index: 2;
  color: white;
  text-transform: uppercase;
  padding: 9px 12px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
  text-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
  opacity: 1;
  cursor: pointer;
  transition: opacity 150ms ease, border 300ms ease-in-out;
  transform: translateY(-50%);
  line-height: 1; }
  .glide__arrow:focus {
    outline: none; }
  .glide__arrow:hover {
    border-color: white; }
  .glide__arrow--left {
    left: 2em; }
  .glide__arrow--right {
    right: 2em; }
  .glide__arrow--disabled {
    opacity: 0.33; }

.glide__bullets {
  position: absolute;
  z-index: 2;
  bottom: 2em;
  left: 50%;
  display: inline-flex;
  list-style: none;
  transform: translateX(-50%); }

.glide__bullet {
  background-color: rgba(255, 255, 255, 0.5);
  width: 9px;
  height: 9px;
  padding: 0;
  border-radius: 50%;
  border: 2px solid transparent;
  transition: all 300ms ease-in-out;
  cursor: pointer;
  line-height: 0;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
  margin: 0 0.25em; }
  .glide__bullet:focus {
    outline: none; }
  .glide__bullet:hover, .glide__bullet:focus {
    border: 2px solid white;
    background-color: rgba(255, 255, 255, 0.5); }
  .glide__bullet--active {
    background-color: white; }

.glide--swipeable {
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab; }

.glide--dragging {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing; }

/*# sourceMappingURL=style.css.map */