body {
  text-align: center;
  font-weight: 100;
  background: #fffefa;
}

h1, h2, h3, h4 {
  font-weight: 200;
    color: #404040;
    margin-bottom: 5%;
}


#errorMsg {
  background-color: #000;
  color: white;
  font-weight: 400;
  text-align: center;
  padding: 10px 0;
  margin-top: 5px;
}

/* --- SIGN UP & COLLABORATION --- */

.knowledge-button {
    padding: 3%;
    margin-bottom: 1%;
    background: #a7a6ff;
    color: #fff;
    border-radius: 20px;
} 

#collaboration-form{
  text-align: center;
  select{   
    text-align: center;
    border: none;
    background: none;
  }
  #lat{
    display: none;
  }
  #lng{
    display: none;
  }
}

.audio-description{
  #stop-record{
    display: none;
  }
  #msg-record{
    display: none;
  }
}

#signup-form .custom-select {
  text-align: center;
    border: none;
}

/* --- INDEX --- */

.quote-down {
width: 15px;
    transform: translate(-130px, 28px);
}

.quote-up {
width: 15px;
    transform: translate(95px, -50px);
}

.text-collaborate {
  transform: translateY(200px);
}

.colaborar-span span {
  font-size: 40px;
} p {
  font-size: 25px;
}

.text-index{
  transform: translateY(120px);
  font-size: 19px; 
} .span-2 {
  font-size: 20px;
}

.fondo {
  background-image: url('../images/YA-VA-4.png');
    background-position: top;
    height: 706px;
    background-size: 100%;
    background-repeat: no-repeat;
}

#logo-yava {
    display: block;
    width: 250px;
    margin: auto;
    transform: translate(0, 60px);
} 

.helps img {
    width: 300px;
    transform: translateY(160px);
}

.peticion {
    background-color: #7f7ed6;
    border-radius: 9px;
    padding: 10px;
}

.peticion-dos {
  background: #7f7ed6;
    padding: 10px;
    border-radius: 15px;
    color: #fff;
}

.span {
  font-weight: 500;
  font-size: 30px;
}

.button-collab {
text-align: center;
  transform: translateY(170px);
  border-radius: 8px;
  padding: 3%;
    p {
    text-align: center;
  }
} 

.index-h2 {
  text-align: center;
}


a:hover {
  text-decoration: none;
  color: #fff;
}

.row {
      margin-top: 145px;
}

#signup-form .custom-select {
    text-align: center;
    border: none;
    background: none;
}

/* --- GLIDE PROFILE --- */

.myButton {
    width: 80%;
    background-color: #7575c9;
    border-radius: 25px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 18px;
    font-weight: 700;
    padding: 9px 58px;
    text-decoration: none;
    margin: 2%;
}
.myButton:hover {
  background:linear-gradient(to bottom, #7575c9 5%, #7575c9 100%);
	background-color:#7575c9;
}
.myButton:active {
	position:relative;
	top:1px;
}

.myButton-dos {
      width: 62%;
    background-color: #8686d9;
    border-radius: 25px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 14px;
    font-weight: 400;
    padding: 9px 58px;
    text-decoration: none;
    margin: 2%;
}
       
.glide {
  margin-top: 5%;
}

/* --- Glide box ---*/

.help-petition {
 font-weight: 300;
    font-size: 15px;
    color: #fff;
}

.help-collab {
font-weight: 800;
    font-size: 20px;
    color: #fff;
}

.link-collab {
  color: #fff;
}

.arrow-size{
  width: 20px;
  height: 20px;
}

.knowledge-field {
  display: none;
}

@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";
// @import "node_modules/@glidejs/glide/src/assets/sass/glide.theme";